
<div class="panel">
    <div class="panel-body">
        <div class="mb10">
            <form class="form-inline" method="get">
                <div class="input-group">
                    <span class="input-group-addon">代理帐号</span>
                    <input type="text" class="form-control" name="puser" value="{$puser ?? ""}">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">搜索</button>
            </form>
        </div>
        <div class="table-responsive clear">
            <table class="table table-hover table-bordered table-head">
                <thead>
                <tr>
                    <th  width="100">代理编号</th>
                    <th  width="200">代理帐号</th>
                    <th  width="200">所属主代</th>
                    <th  width="100">提成比例</th>
                    <th  width="150">投注总额</th>
                    <th  width="150">总收益</th>
                    <th  width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                    {foreach $lists as $vo}
                        <tr>
                            <td style="text-align: left">{$vo.mark}</td>
                            <td style="text-align: left">{$vo.username}</td>
                            <td style="text-align: left">{:getUser($vo.user_id,'nickname')}({$vo.user_id})</td>
                            <td>{$vo.rate} %</td>
                            <td class="number text-primary">{:numberFormat($vo.bet_money,2,true)}</td>
                            <td class="number text-success">{:numberFormat($vo.win_total,2,true)}</td>
                            <td>
                                {if checkPermit('agent','arena')}
                                <a href="{:url('agent.arena/arena',['id'=>$vo.id])}" class="btn btn-xs btn-primary">推广房间统计</a>
                                {/if}
                                {if checkPermit('agent','info')}
                                <a href="{:url('agent.arena/info',['id'=>$vo.id])}" class="btn btn-xs btn-primary j-dialog-handle" title="帐户管理">帐户管理</a>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
            <center>{$lists->render()}</center>
        </div>
    </div>
</div>
