<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
    <meta name="applicable-device" content="mobile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="/assets/common/plugins/bootstrap/css/bootstrap.min.css" />
</head>
<style type="text/css">
    html,body{background:#2f1b13;font-family:"Microsoft YaHei";}
    body #exiframe{display:none;}
    .container{padding:0px;width:100%;}
</style>
<body>
<div class="container">
    <div class="row">
        {if $live}
        <video src="{$live.video_url}" autoplay="autoplay" controls preload style="width: 100%;height:360px;"></video>
        {elseif $live_iframe}
            <iframe src="{$live_iframe}" scrolling="no" frameborder="0" allowfullscreen="true" style="width: 100%;height: 300px;"></iframe>
        {/if}
    </div>
</div>
</body>
</html>vk