.gaming-wrap{background:#304a87;color:#99b2ec;}
a{color:#99b2ec;}
.gaming-wrap .container{background:#304a87;padding-bottom:.7rem;}
.gaming-wrap .search-container{padding-top:.46rem;}
.gaming-wrap .header{background:#162657;border-bottom:1px solid #3a589e;box-shadow:none;}
.gaming-wrap .header .header-bom{border-bottom:1px solid #010920;}
.gaming-wrap .slide-header .header-bom{padding:0 .35rem;}
.gaming-wrap .header .slidebox{height:.46rem;text-align:center;color:#fefefe;}
.gaming-wrap .header .slidebox p em{color:#eec93d;margin:0 .04rem;}
.gaming-wrap .header .fa-angle-left{position:absolute;left:0rem;padding:0 .1rem;font-size:.28rem;color:#fff;line-height:.46rem;z-index:2;height: .46rem;}
.gaming-wrap .header .search .search-link{height: .3rem;background:#adc1f2;border-radius:.06rem;}
.gaming-wrap .header .search .personal{width:21px;height:26px;float:right;background:url(../images/gaming/personal.png) no-repeat;margin-left:.1rem;margin-top:.05rem;background-size:100%;}
.gaming-wrap .header .seticon{background:none;    right: 5px;}
.gaming-wrap .header .seticon .fa-bars{font-size:.2rem;color:#fff;}
.select-type{width:.5rem;height:.3rem;line-height:.3rem;margin-right:.08rem;}
.select-type span i{margin-left:.06rem;}
.games-box{width:100%;height:auto;overflow:hidden;padding:.1rem;padding-bottom:.2rem;background:#304a87;border-bottom:1px solid #000000;}
.games-box a{width:48.5%;height:.56rem;display:block;background:#adc1f2;border-radius:.08rem;float:left;margin-top:.1rem;font-size:.16rem;line-height:.58rem;color:#304a87;}
.games-box a:nth-child(2n+1){margin-right:3%;}
.games-box a img{width:.34rem;height:.34rem;float:left;margin:.11rem .05rem auto .1rem;border-radius:.2rem;}
.games-match-box{width:100%;height:auto;overflow:hidden;}
.games-match-list{width:100%;height:auto;overflow:hidden;padding:.14rem .1rem;border-bottom:1px solid #000;background:#345297;}
.games-match-list:nth-child(even){background:#304a87;}
.games-match-list .games-match-title{width:100%;height:auto;overflow:hidden;line-height:.24rem;position:relative;padding-left:.29rem;}
.games-match-list .games-match-title img{width:.24rem;height:.24rem;position:absolute;top:0;left:0;}
.games-match-list .games-match-info{width:100%;height:auto;border:1px solid #4a6bb7;margin-top:.06rem;padding:.08rem .06rem;}
.games-match-list .games-match-info p{font-size:.12rem;color:#5b7fd0;}
.games-match-list .games-match-ranks{margin-top:.04rem;color:#f4f5f8;position:relative;}
.games-match-list .games-match-ranks b{font-weight:normal;color:#eec93d;margin:0 .04rem;}
.games-match-list .games-match-ranks i{width:.22rem;height:.18rem;position:absolute;right:0;top:0;background:#162657;text-align:center;line-height:.18rem;font-size:.12rem;border-radius:.06rem;color:#99b2ec;}
.header-right{position:absolute;right:0;width:auto;height:100%;}
.header-right a{width:.26rem;height:.26rem;float:left;margin-top:.09rem;font-size:.24rem;text-align:center;line-height:.26rem;}
/* 投注页 */
.matchs-about{width:100%;height:.64rem;overflow:hidden;margin-top:.34rem;padding:0 .1rem;}
.matchs-about .flex-1{text-align:right;padding-top:.05rem;}
.matchs-about .flex-1:last-child{text-align:left;}
.matchs-about .flex-1:last-child span{margin-left:.2rem;}
.matchs-about .flex-1 span{width:1rem;display:inline-block;line-height:.3rem;text-align:left;}
.matchs-about img{width:.63rem;height:.63rem;border:1px solid #4a6bb7;border-radius:999px;}
/* 投注页 */
.arenabox{width:100%;height:auto;margin-top:.3rem;padding:0 .1rem;}
.arenabox .arenalist-top{margin-bottom:.08rem;color:#5b7fd0;}
.arenabox .match-about{height:.2rem;}
.arenabox .match-about .slidebox{height:100%;}
.arenabox ul{border:1px solid #4a6bb7;margin-top:.08rem;}
.arenabox ul li{text-align:center;padding:.08rem 0 .3rem;position:relative;border:1px solid #304a87;}
.arenabox ul li:first-child{border-right:1px solid #4a6bb7;}
.arenabox ul li p{color:#fff;line-height:.3rem;margin:.05rem auto;}
.arenabox ul li em{display:block;color:#fff;margin-bottom:.05rem;}
.arenabox ul li span{display:block;color:#eec93d;font-size:.16rem;margin-bottom:.05rem;}
.arenabox ul li i{width:.48rem;height:.24rem;text-align:center;line-height:.24rem;position:absolute;bottom:-1px;left:50%;margin-left:-24px;background:#99b2ec;color:#fff;border-top-left-radius:.06rem;border-top-right-radius:.06rem;}
.chipin{width:100%;height:auto;background:#162657;position:fixed;bottom:0;left:0;z-index:10;padding:.14rem .1rem; border-top:1px solid #4a6bb7;overflow:visible;}
.chipin-gold{bottom:-129px;}
.chipin .down-btn{width:.52rem;height:.2rem;border:1px solid #4a6bb7;position:absolute;top:-21px;left:50%;margin-left:-26px;background:#162657;border-bottom:0;border-top-left-radius:.08rem;border-top-right-radius:.08rem;text-align:center;line-height:.24rem;}
.chipin .down-btn i{width:10px;height:10px;display:inline-block;font-size:.16rem;line-height:10px;transform: rotate(180deg);-webkit-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
.chipin .chipinbox{width:100%;height:.44rem;}
.chipin .chipin-cnt{color:#99b2ec;position: relative;width: auto;border-radius:0;left: 0;background:none; top: 0 !important; margin: 0;line-height: 18px; clear:both;  }
.chipin .chipin-cnt i{background:none;display:none;}
.chipin .chipinbox li{width:.4rem;height:.4rem;text-align:center;line-height:.41rem;font-size:.12rem;float:left;background:url(../images/chipin-icon-3.png) no-repeat;background-size:101%;margin-right:.08rem;color:#0024c1;border-radius:.3rem;}
.chipin .chipinbox li:nth-child(2){background:url(../images/chipin-icon-2.png) no-repeat;background-size:101%;color:#ff7400;}
.chipin .chipinbox li:nth-child(3){background:url(../images/chipin-icon-4.png) no-repeat;background-size:101%;color:#04be12;}
.chipin .chipinbox li:nth-child(4){background:url(../images/chipin-icon-5.png) no-repeat;background-size:101%;color:#0095df;}
.chipin .chipinbox li:nth-child(5){background:url(../images/chipin-icon-1.png) no-repeat;background-size:101%;color:#c22000;}

.chipin .chipin-right{width:100%;height:auto;overflow:hidden;position:relative;margin-top:.1rem;padding:0;}
.chipin .chipin-right input{width:100%;height:.3rem;background:#adc1f2;border:0;border-radius:.06rem;padding:0 .06rem;box-sizing:border-box;margin:0;color:#183d8f;font-size:.14rem;}
.chipin .chipin-right button{width:.5rem;height:.3rem;border:0;background:#304a87;position:absolute;top:0;right:-1px;border-top-right-radius:.06rem;border-bottom-right-radius:.06rem;color:#fff;}
.chipin p{float:left;margin-left:0px;font-size:.12rem;}
.chipin p span{margin-right:.24rem;}
.shopping-cart{background:#4767b4;bottom: 163px;-webkit-transition: all 0.1s ease-in-out 0s;transition: all 0.1s ease-in-out 0s;}
.gaming-wrap ::-webkit-input-placeholder{color:#5b7fd0;}
@keyframes glow {
  0% {border:1px solid #adc1f2;-webkit-box-shadow:  0 0 1px #adc1f2, inset 0 0 1px #adc1f2, 0 0px 0 #adc1f2;}	
  100% {border:1px solid #adc1f2;-webkit-box-shadow:  0 0 10px #adc1f2, inset 0 0 10px #adc1f2, 0 0px 0 #adc1f2; }
}
@-webkit-keyframes glow {
  0% {border:.01rem solid #adc1f2;-webkit-box-shadow: 0 0 1px #adc1f2, inset 0 0 1px #adc1f2, 0 0px 0 #adc1f2;}	
  100% {border:.01rem solid #adc1f2;-webkit-box-shadow: 0 0 10px #adc1f2, inset 0 0 10px #adc1f2, 0 0px 0 #adc1f2; }
}
@keyframes glow-b{
  0% {border:.01rem solid #b5cd17;border-bottom:0;-webkit-box-shadow: 0 0 2px #b5cd17, inset 0 0 3px #b5cd17, 0 1px 0 #ddfc0d;}	
  100% {border:.01rem solid #ddfc0d;border-bottom:0;-webkit-box-shadow: 0 0 10px #ddfc0d, inset 0 0 5px #ddfc0d, 0 1px 0 #ddfc0d; }
}
@-webkit-keyframes glow-b{
  0% {border:.01rem solid #b5cd17;border-bottom:0;-webkit-box-shadow: 0 0 2px #b5cd17, inset 0 0 3px #b5cd17, 0 1px 0 #ddfc0d;}	
  100% {border:.01rem solid #ddfc0d;border-bottom:0;-webkit-box-shadow: 0 0 10px #ddfc0d, inset 0 0 5px #ddfc0d, 0 1px 0 #ddfc0d; }
}
.wcgbet{width:100%;height:auto;overflow:hidden;}
.wcgbet .wcg-arenalist{width:100%;height:auto;overflow:hidden;padding:.12rem .1rem;border-bottom:1px solid #000;}
.wcgbet .wcg-arenalist:nth-child(even){background:#345297;}
/* .wcgbet .wcg-arenalist:nth-child(even) ul li span {background:#345297;} */
.wcg-arenalist  .arenalist-top { width: 100%;height: .3rem;overflow: hidden; position: relative;padding-right: .2rem;}
.wcg-arenalist  .arenalist-top p {width: 56%;height: .3rem; line-height: .3rem; float: left;font-size: .14rem; overflow: hidden;}


.wcg-arenalist .arenalist-top  .privacy-icon {width: .18rem;height: 18px;display: inline-block;background: url(../images/gaming/privacy-icon.png) no-repeat 0 4px;margin-left: .05rem;background-size: 85% auto;vertical-align: middle;}
.wcg-arenalist .arenalist-top  .fa-key{font-size:13px;margin-left:.06rem;color:#9cbbf1;}
.wcg-arenalist .arenalist-top  .privacy-friends-cion{    background-position: 0 -17px;}
.wcg-arenalist  .arenalist-top .right-about { width: 44%;height: .3rem;float: right;font-size: .12rem;line-height: .3rem; text-align: right;}
.wcg-arenalist  .arenalist-top .right-about span {display: inline-block;margin-left: .05rem;}
.wcg-arenalist  .arenalist-top .right-about img {width: .3rem;height: .3rem;border: 1px solid #4a6bb7; display: inline-block; border-radius: 999px;vertical-align: middle;}
.wcg-arenalist  .arenalist-top .fa-angle-right {position: absolute;right: 0;top: 5px;font-size: 20px;color: #adc1f2;}
.wcg-arenalist  .arenalist-bom {width: 100%; height: auto;border: 1px solid #4a6bb7;	padding: .08rem;overflow: hidden;}
.wcg-arenalist  .arenalist-bom .match-about {width: 100%;height:auto; line-height: .22rem;font-size: .14rem;text-align: left;margin: .05rem auto;padding-left:.29rem;position:relative;}
.wcg-arenalist  .match-about img {width: .22rem; height: .22rem; position:absolute;left:0px;top:0px;}
.wcg-time { float: left;margin-right: .1rem;line-height: .26rem;color:#5679c7;font-size:.12rem;}
.wcg-arenalist  .arenalist-bom ul {   /*  width: 100%; */height: auto;flex:1;box-sizing: border-box;}
.wcg-arenalist  .arenalist-bom ul li { border: 0;background: none;text-align: left; position: relative; margin: 0;width:100%;overflow:hidden;height: .26rem;font-size: .14rem;line-height: .26rem;	color:#fff;}
.wcg-arenalist  .arenalist-bom ul li span { width: auto;height: .22rem;line-height: .22rem;position: absolute;right: 0; top: 2px;font-size:.12rem;/* background:#304a87; */}
.wcg-arenalist  .arenalist-bom ul li em { width: .44rem;height: .22rem;overflow:hidden;text-align:center;line-height: .22rem;float:left;color: #fff;top: 2px;border-radius: .06rem; font-size: .12rem;background: #adc1f2;}
.wcg-arenalist .arenalist-bom ul li i { float:left;color: #dbbb49;margin-right:.08rem;}
.chipincase .chipin-fixed{width:90%;min-height:1.4rem;height:auto;overflow: hidden;position:absolute;margin-top:-.3rem;z-index:9999;/* top:-100%; */transition: all .4s;left:5%;padding:0 .15rem;background:rgba(156,0,0,.9);-webkit-box-shadow:0 2px 4px #000;-webkit-transform:translate3d(0px,-400px,0);}
.chipincase .chipin-fixed{background:rgba(32,22,87,08);border-top:0;}
.chipincase .chipin-fixed .chipin-right{padding-right:.03rem;}
.chipincase .chipin-fixed .chipin-right button{border-top-right-radius:.06rem;border-bottom-right-radius:.06rem;width:.6rem;right:-2px;font-size:.14rem;text-indent:0px;}
.chipincase .chipin-fixed p,.chipincase .chipin-fixed .chipin-cnt{color:#99b2ec;}
.chipincase .chipin-fixed .chipin-cnt{margin-bottom:.1rem;}
.lt-null-data{text-align:center;line-height:.3rem;margin-top:.2rem;}
.lt-null-data p a{display:inline-block;padding:0 .1rem;border-radius:.06rem;height:.26rem;line-height:.26rem;background:#99b2ec;color:#fff;}
/* 搜索 */
.search-select{width:100%;height:auto;overflow:hidden;padding:.1rem;border-bottom:1px solid #000;text-align:center;}
.search-select a{    width: auto;
    padding: 0 .13rem;
    height: auto;
    line-height: .22rem;
    float: left;
    border: 1px solid #4a6bb7;
    /* background: #01501d; */
    margin-right: .1rem;
    margin-bottom: .1rem;
}
.search-top h3{font-weight:normal;line-height:.4rem;padding:0 .1rem;font-size:.14rem;}
.scorelist {padding:.14rem .1rem;border-bottom:1px solid #000;position:relative;}
.score-top{margin-bottom:.05rem;}
.score-top .score-bf{float: left;margin:0 .05rem;}
.score-top h3{font-weight:normal;font-size:.14rem; color:#fff;   float: left;}
.scorelist p{font-size:.12rem;}
.scorelist p b {font-weight: normal;float: left;margin: 0 .08rem 0 .14rem;font-size: .12rem;}
.scorelist p span{margin-right:.06rem;}
.scorelist .score-over{position:relative;}
.scorelist .score-over {position:relative;}
.scorelist .fa-angle-right{position:absolute;right:.08rem;top:50%;margin-top:-.07rem;}
.hamlet-popup .popup-cont{background:rgba(52,82,151,08);}
.hamlet-popup .popup-cont .hamlet-top img{width: 40px; height: 40px;float: left; border-radius: 999px; margin-right: .1rem;}
.hamlet-popup .popup-cont .hamlet-top h3{    font-size: .13rem;font-weight: normal;line-height: .4rem;color: #adc1f2;margin: 0;}
.hamlet-btn a {width: 48%;float: left;height: .3rem;border-radius: .06rem;background: #99b2ec; text-align: center;line-height: .3rem; color: #fff;margin: .08rem auto;}
.hamlet-popup .hamlet-btn a:last-child { margin-left: 4%;}
.hamlet-popup .popup-cont  p {font-size:.12rem;color:#99b2ec;}
.popup .popupbg {opacity:.3;}
.popup .popup-cont{background:rgba(32,22,87,08);}
.popup .popup-cont .popup-btn{border:0;display:block;width:.7rem;height:.26rem;border-radius:.06rem;color:#fff;margin:.2rem auto auto;background:#99b2ec;}
.yqminput{width:90%;height:auto;overflow:hidden;margin:.1rem auto auto;}
.yqminput input{width:100%;height:.28rem;margin:.1rem auto auto;border:1px solid #dcdcdc;box-sizing:border-box;padding:0 .06rem;}
/* 底部 */
.footer{height:.54rem;background:#162657;border-top:1px solid #3a589e;}
.footer li{border-top:1px solid #010920;border-right:1px solid #010920;}
.footer li:last-child{border-right:0;border-left:1px solid #273a76;}
.footer li i{width:.35rem;height:.28rem;display:block;margin:.04rem auto auto;background:url(../images/gaming/footer-icon.png) no-repeat -36px center;background-size: auto 90%;}
.footer .footer-home.active  i{background:url(../images/gaming/footer-icon.png) no-repeat 3px center;background-size: auto 90%;}
.footer  .footer-play i{background-position:-124px center;}
.footer  .footer-play.active i{background-position:-81px center;}
.footer  li.active span{color:#fff;}
.footer li span{width:100%;height:.16rem;line-height:.16rem;text-align:center;display:block;color:#99b2ec;font-size:.12rem;}