{__NOLAYOUT__}
{include file="public/header"}
<body>
    <div class="jump-page error-page">
        <div class="jump-icon">
            <i class="fa fa-exclamation-circle fa-3x"></i>
        </div>
        <div class="jump-text">
            <p class="jump-cnt">{:strip_tags($msg)}</p>
            <p>页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b></p>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>