<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
    <meta name="applicable-device" content="mobile" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script>
        var intervalTimer = null;
    </script>
    {css href="/assets/common/plugins/bootstrap/css/bootstrap.min.css,/assets/common/plugins/font_awesome/css/font-awesome.min.css,/assets/common/plugins/sweetalert/sweetalert.css,/assets/common/plugins/nprogress/nprogress.css,/assets/common/plugins/daterangepicker/daterangepicker.css,/assets/admin/style.css" /}
    {js href="/assets/common/js/jquery-1.12.2.min.js,/assets/common/js/jquery.cookie,/assets/common/js/jquery.pjax.js,/assets/common/plugins/bootstrap/js/bootstrap.min.js,/assets/common/plugins/uploadify/jquery.uploadify.js,/assets/common/plugins/ueditor/ueditor.config.js,/assets/common/plugins/ueditor/ueditor.all.min.js,/assets/common/plugins/sweetalert/sweetalert.min.js,/assets/common/plugins/parsley/parsley.js,/assets/common/plugins/nprogress/nprogress.js,/assets/common/plugins/daterangepicker/moment.min.js,/assets/common/plugins/daterangepicker/daterangepicker.js,/assets/admin/dialog.js,/assets/admin/common.js"" /}
    {js href="/assets/common/plugins/highcharts-4.1.8/js/highcharts.js,/assets/common/plugins/highcharts-4.1.8/js/modules/data.js,/assets/admin/highcharts_config.js"}
    <title>{if isset($sub_title) && $sub_title}{$sub_title}-{/if}后台管理系统</title>
</head>