<div class="panel">
    <div class="panel-body" style="width: 700px">
        <form class="form-horizontal parsley-form auto-submit-form" action="{:url("layout/sports_add")}" id="__formId__" name="__formId__" method="post" data-parsley-validate>
        <input type="hidden" name="id" value="{$id ?? 0}">
        <div class="mt10">
            <div class="form-group">
                <label class="col-md-3 control-label">模块名称：</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="name" id="name" value="{$res.name ?? ''}"  data-parsley-required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">绑定类型：</label>
                <div class="col-md-9">
                    <select name="item_id" class="form-control pull-left item_id" style="display: inline-block;width: 100px;">
                        {foreach $items as $key => $val}
                        <option value="{$val.id}" {if isset($res.item_id) && $res.item_id eq $val.id}selected{/if}>{$val.name}</option>
                        {/foreach}
                    </select>
                    <select name="type" class="form-control pull-left change-item-value" style="display: inline-block;width: 100px;margin-left: 10px;">
                        <option value="all" {if isset($res.type) && $res.type eq 'all'}selected{/if}>全部</option>
                        <option value="match" {if isset($res.type) && $res.type eq 'match'}selected{/if}>赛事</option>
                        <option value="game" {if isset($res.type) && $res.type eq 'game'}selected{/if}>游戏</option>
                    </select>
                    <button type="button" {if !isset($res.type) || (isset($res.type) && $res.type eq 'all')}disabled{/if} class="btn btn-primary btn-sm pull-left" id="change-bind-btn" style="margin-top: 2px;margin-left: 5px;">
                    <i class="fa fa-search"></i>
                        选择绑定内容
                    </button>
                </div>
            </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="detail" id="detail" value="">
                <label class="col-md-3 control-label">已选内容：</label>
                <div class="col-md-8">
                    <table class="table table-hover table-bordered table-head">
                        <thead>
                        <tr>
                            <th>内容</th>
                            <th width="60">操作</th>
                        </tr>
                        </thead>
                        <tbody class="layout-content-list">
                        {if isset($res.detail) && $res.detail}
                            {foreach $res.detail as $lib}
                            <tr>
                                <input type="hidden" name="lib_id[]" value="{$lib.id}">
                                <input type="hidden" name="lib_name[]" value="{$lib.name}">
                                <td style="text-align: left">{$lib.name}</td>
                                <td><a class="close text-danger layout-content-close" style="float:none">&times;</a></td>
                            </tr>
                            {/foreach}
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Hot</label>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" name="is_hot" value="{$Think.const.STATUS_YES}" {if !isset($res) || (isset($res) && $res.is_hot eq STATUS_YES)} checked{/if} />
                        是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="is_hot" value="{$Think.const.STATUS_NO}" {if (isset($res) && $res.is_hot eq STATUS_NO)} checked{/if} />
                        否
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">状态</label>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="{$Think.const.STATUS_ENABLED}" {if !isset($res) || (isset($res) && $res.status eq STATUS_ENABLED)} checked{/if} />
                        正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="{$Think.const.STATUS_DISABLED}" {if (isset($res) && $res.status eq STATUS_DISABLED)} checked{/if} />
                        禁用
                    </label>
                </div>
            </div>
            <div class="form-group dialog-handle">
                <label class="col-md-3 control-label">&nbsp;</label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
        </form>
    </div>
<script>
    $(function () {
        $(".change-item-value").change(function () {
            var val = $(this).val();
            if(val == 'all'){
                $('#change-bind-btn').attr("disabled",true);
            }else{
                $('#change-bind-btn').removeAttr("disabled");
            }
        });

        $("#change-bind-btn").click(function () {
            if($(this).attr("disabled")){
                return false;
            }
            var parent = $(this).parent();
            var item_id = parent.find(".item_id").val();
            var type = parent.find(".change-item-value").val();
            if(!type || type == 'all'){return false;}
            var title = '';
            var href = '';
            if(type == 'game'){
                href = '{:url('Misc/select_game')}';
                title = '游戏选择'
            }else if(type == 'match'){
                href = '{:url('Misc/select_match')}';
                title = '赛事选择'
            }
            new jDialog({
                'content': 'url:' + href + '?item_id='+item_id,
                'title': title
            });
            return false;
        });
        $(document).on("click",'.layout-content-close',function () {
            $(this).closest("tr").remove();
            return false;
        });
    });
    function miscSelectGameRet(gameList) {
        var temp = '';
        for(var k in gameList){
            var game = gameList[k];
            temp += '<tr>';
            temp += '<input type="hidden" name="lib_id[]" value="'+game['id']+'">';
            temp += '<input type="hidden" name="lib_name[]" value="'+game['name']+'">';
            temp += '<td style="text-align: left">'+game['name']+'</td><td><a class="close text-danger layout-content-close" style="float:none">&times;</a></td></tr>';
        }
        $(temp).appendTo($(".layout-content-list"));
    }
    function miscSelectMatchRet(matchList) {
        var temp = '';
        for(var k in matchList){
            var match = matchList[k];
            temp += '<tr>';
            temp += '<input type="hidden" name="lib_id[]" value="'+match['id']+'">';
            temp += '<input type="hidden" name="lib_name[]" value="'+match['name']+'">';
            temp += '<td style="text-align: left">'+match['name']+'</td><td><a class="close text-danger layout-content-close" style="float:none">&times;</a></td></tr>';
        }
        $(temp).appendTo($(".layout-content-list"));
    }
</script>
</div>