<script type="application/javascript" src="/assets/common/js/jquery.json.js"></script>
<div class="panel">
    <div class="panel-body" style="width: 700px;">
        <div class="table-responsive clear">
            <div id="user_log">
                <table class="table table-hover table-bordered table-head">
                    <thead>
                    <tr>
                        <th width="80">ID</th>
                        <th width="350">原因</th>
                        <th width="150">数据</th>
                        <th width="150">时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.explain}</td>
                        <td>
                            <button class="btn btn-info btn-xs log-data-btn {if !trim($vo.data) || trim($vo.data) == 'null' }disabled{/if}" data-id="{$vo.id}"><i class="fa fa-database"></i></button>
                            <textarea style="display: none" class="log-data-{$vo.id}">
                        {if $vo.data}{:htmlspecialchars($vo.data)}{/if}
                    </textarea>
                        </td>
                        <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <center>{$list->render()}</center>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on("click","#user_log .pagination a",function () {
            var href = $(this).attr("href");
            Ajax.get(href,{},function (data) {
                var content = extractContainer(data,'#user_log');
                $("#user_log").html(content.html());
            });
            return false;
        }).on('click',".log-data-btn",function () {
            var id = $(this).attr("data-id");
            var text = $(".log-data-"+id).val();
            if($(this).hasClass("disabled")){return false;}
            //text = jsonlint.parse(text);
            ///text = JSON.stringify(text)
            var dialog = window.top.jDialog({
                'content': '<div class="json-string">'+new JSONFormat(text,4).toString()+'</div>',
                'title': '数据',
                'complete' : function (s) {
                    s.position();
                }
            });
        });
    });
</script>




