<div class="panel">
    <div class="panel-body" style="width: 1300px;" id="user-arena-bet-content">
        <div class="table-responsive clear">
            <table class="table table-hover table-bordered table-head">
                <thead>
                <tr>
                    <th rowspan="2" width="80">投注ID</th>
                    <th colspan="3">比赛</th>
                    <th colspan="3">投注 (投注内容，赔率)</th>
                    <th rowspan="2">投注金额</th>
                    <th rowspan="2">预计收益</th>
                    <th rowspan="2">结算(佣金)</th>
                    <th rowspan="2">查看价格</th>
                    <th rowspan="2" width="100">投注房间ID</th>
                    <th rowspan="2" width="100">状态</th>
                    <th rowspan="2" width="200">投注时间</th>
                    <!--<th rowspan="2" width="100">操作</th>-->
                </tr>
                <tr>
                    <th width="120">赛事</th>
                    <th width="120">主场</th>
                    <th width="120">客场</th>
                    <th width="80">玩法</th>
                    <th width="150">投注对象</th>
                    <th width="80">赔率</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.match.name}</td>
                    <td>{$vo['teams'][0]['name']}</td>
                    <td>{$vo['teams'][1]['name']}</td>
                    <td>{:parseRuleName(getRuleData($vo.game_type,$vo.rules_id,'name'),$vo.teams)}</td>
                    <td class="text-primary" style="text-align: left">
                        {if isset($vo.arena_odds[$vo['target'].$vo['item']])}
                        {$vo.arena_odds[$vo['target'].$vo['item']]['name']}
                        {if !is_numeric($vo.arena_odds[$vo['target'].$vo['item']]['target_name']) }
                        &nbsp;{$vo.arena_odds[$vo['target'].$vo['item']]['target_name']}
                        {/if}
                        {/if}
                    </td>
                    <td class="text-danger number">
                        {$vo.odds}
                    </td>
                    <td class="text-warning number">{:number_format($vo.money)}</td>
                    <td class="text-warning number">
                        {:number_format(forWin($vo.money,$vo.odds,$vo.rules_type,$vo.brok,$vo.game_type)['win_total'],2)}
                    </td>
                    <td class="text-success number">
                        {if $vo.win_money > 0}
                        {:number_format($vo.win_money,2)}
                        {if $vo.fee}
                        ({$vo.fee})
                        {/if}
                        {/if}
                    </td>
                    <td class="text-warning number">{$vo.buy}</td>
                    <td>{$vo.arena_id}</td>
                    <td>
                        {if in_array($vo.arena_status,[ARENA_START,ARENA_PLAY,ARENA_END,ARENA_STATEMENT_END])}
                        {:betStatus($vo.status,true,$vo.win_money)}
                        {else}
                        {:arenaStatusToWord($vo.arena_status,true,$vo.play_time,$vo.play_status)}
                        {/if}
                    </td>
                    <td>{:date("Y-m-d H:i:s",$vo.create_time)}</td>
                    <!--<td>
                        <a href="javascript:cancel({$vo.id});" class="btn btn-xs btn-primary">取消</a>
                    </td>-->
                </tr>
                {/volist}
                </tbody>
            </table>
            <center id="user-arena-bet-page">{$list->render()}</center>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on("click","#user-arena-bet-page a",function () {
            //user-arena-bet-content
            var href = $(this).attr("href");
            Ajax.get(href,{},function (content) {
                content = extractContainer(content,'#user-arena-bet-content');
                $("#user-arena-bet-content").html(content.html());

            })
            return false;
        });
        var wWidth = $(window).width();
        $("#user-arena-bet-content").width(wWidth - 500);
    });
</script>