<div class="panel">
    <div class="panel-body" style="width: 500px">
        <form class="form-horizontal parsley-form" action="{:url($controller."/arena_sys_bet")}" id="__formId__" name="__formId__" method="post" data-parsley-validate>
            <input type="hidden" name="arena_id" value="{$arena_id}">
            <input type="hidden" name="target" value="{$target}">
            <input type="hidden" name="item" value="{$item}">
            <div class="form-group">
                <label class="col-md-3 control-label">投注金币</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="money" id="money" value="0" data-parsley-pattern="^\d+$" data-parsley-required="true">
                </div>
            </div>
            <div class="form-group dialog-handle">
                <label class="col-md-3 control-label">&nbsp;</label>
                <div class="col-md-8">
                    <button type="button" class="btn btn-primary" id="btn_arena_sys_bet">确定</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
       $("#__formId__").submitForm(null,function (ret) {
           if(ret.code == 1) {
               var dialog = $("#__formId__").closest('.j-dialog');
               if (dialog.length > 0) {
                   dialogIndex = dialog.find("[name=j-dialog-index]").val();
                   dialogIndex && jDialog.data[dialogIndex].close();
               }
               Tips.success(ret.msg);
               var dialogIndex = $('.j-dialog').attr("id");
               if(dialogIndex){
                   jDialog.data[dialogIndex].reloadContent();
               }
           }else {
               Tips.error(ret.msg)
           }
       }) ;
        $("#btn_arena_sys_bet").click(function () {
            $("#__formId__").submit();
        });
    });
</script>