<div class="panel">
    <div class="panel-body">
        <div>
        	<div id="container">
        		<table id="datatable" class="table table-hover table-bordered table-head">
        			<thead>
        				<tr>
        					<th></th>
        					<th>数量</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<th>LTV（首日）</th>
        					<td>{$first_ltv}</td>
        				</tr>
        				<tr>
        					<th>LTV（总）</th>
        					<td>{$all_ltv}</td>
        				</tr>
        				<tr>
        					<th>LTV（15日）</th>
        					<td>{$half_month_ltv}</td>
        				</tr>
        				<tr>
        					<th>LTV（30日）</th>
        					<td>{$month_ltv}</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
    </div>
</div>