<div class="panel">
    <div class="panel-body">
        <div>
        	<div id="container">
        		<table id="datatable" class="table table-hover table-bordered table-head">
        			<thead>
        				<tr>
        					<th></th>
        					<th>数量</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<th>7日内房间总数</th>
        					<td>{$time_arena_count}</td>
        				</tr>
        				<tr>
        					<th>房间保证金总额</th>
        					<td>{$all_arena_deposit}</td>
        				</tr>
        				<tr>
        					<th>房主盈利总额</th>
        					<td>{$all_arena_win}</td>
        				</tr>
        				<tr>
        					<th>7日内新增房主数</th>
        					<td>{$time_arena_user}</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
    </div>
</div>