<div class="panel">
    <div class="panel-body">
        <div>
        	<div id="container">
        		<table id="datatable" class="table table-hover table-bordered table-head">
        			<thead>
        				<tr>
        					<th></th>
        					<th>数量</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<th>活跃ARPU（总）</th>
        					<td>{$active_arpu}</td>
        				</tr>
        				<tr>
        					<th>活跃ARPU</th>
        					<td>{$time_arpu}</td>
        				</tr>
        				<tr>
        					<th>新增活跃ARPU</th>
        					<td>{$new_reg_arpu}</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
    </div>
</div>